[user]
	# name = test
	# email = sample@example.com

[core]
	excludesfile = ~/.gitignore_global
	# excludesfile = ~/.gitignore  # globalな.gitignoreの指定
	quotepath = false # 日本語のファイル名
	safecrlf = false # 改行コードが混在している場合は変換しない
	autocrlf = input # コミット時にのみ CRLF -> LF に変換
	ignorecase = false
[alias]
	# setting ~/.zshrc

[tig "bind"]
	generic = g move-first-line
	generic = G move-last-line
[push]
	default = simple
[init]
	templatedir = ~/.git_template
